vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|26 Mar 2021 17:24:12 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|NEO\\neo
vti_modifiedby:SR|NEO\\neo
vti_timecreated:TR|14 Jan 2021 12:47:07 -0000
vti_backlinkinfo:VX|index.htm fonts_/flaticon.html
vti_cacheddtm:TX|26 Mar 2021 17:24:12 -0000
vti_filesize:IR|8391
vti_cachedlinkinfo:VX|S|./Flaticon.eot S|./Flaticon.eot S|./Flaticon.woff2 S|./Flaticon.woff S|./Flaticon.ttf S|./Flaticon.svg S|./Flaticon.svg
vti_cachedsvcrellinks:VX|FSUS|fonts_/Flaticon.eot FSUS|fonts_/Flaticon.eot FSUS|fonts_/Flaticon.woff2 FSUS|fonts_/Flaticon.woff FSUS|fonts_/Flaticon.ttf FSUS|fonts_/Flaticon.svg FSUS|fonts_/Flaticon.svg
