vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|15 Sep 2022 10:05:27 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|NEO\\neo
vti_modifiedby:SR|NEO\\neo
vti_timecreated:TR|14 Sep 2022 11:56:04 -0000
vti_backlinkinfo:VX|flex.htm detalle-email.htm editar-email.htm fonts/flaticon.html calendarios.htm
vti_cacheddtm:TX|15 Sep 2022 10:05:27 -0000
vti_filesize:IR|11185
vti_cachedlinkinfo:VX|S|./flaticon.ttf S|./flaticon.woff S|./flaticon.woff2 S|./flaticon.eot S|./flaticon.svg
vti_cachedsvcrellinks:VX|FSUS|fonts/flaticon.ttf FSUS|fonts/flaticon.woff FSUS|fonts/flaticon.woff2 FSUS|fonts/flaticon.eot FSUS|fonts/flaticon.svg
