$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?efeefa92a1ed5a962bf19ab6cd998960") format("truetype"),
url("./flaticon.woff?efeefa92a1ed5a962bf19ab6cd998960") format("woff"),
url("./flaticon.woff2?efeefa92a1ed5a962bf19ab6cd998960") format("woff2"),
url("./flaticon.eot?efeefa92a1ed5a962bf19ab6cd998960#iefix") format("embedded-opentype"),
url("./flaticon.svg?efeefa92a1ed5a962bf19ab6cd998960#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "campana": "\f101",
    "candado": "\f102",
    "usuario": "\f103",
    "full-screen": "\f104",
    "sol": "\f105",
    "luna": "\f106",
    "configuracion": "\f107",
    "llave-inglesa": "\f108",
    "calendario": "\f109",
    "sobre": "\f10a",
    "cuadrados": "\f10b",
    "puntos-vertical": "\f10c",
    "puntos-horizontal": "\f10d",
    "circulo-check": "\f10e",
    "circulo-mas": "\f10f",
    "circulo-cerrar": "\f110",
    "circulo-interrogacion": "\f111",
    "circulo-info": "\f112",
    "video": "\f113",
    "camara": "\f114",
    "circulo-play": "\f115",
    "corazon": "\f116",
    "estrella": "\f117",
    "usuarios": "\f118",
    "refrescar": "\f119",
    "check": "\f11a",
    "link": "\f11b",
    "forbidden-mark": "\f11c",
    "aspa": "\f11d",
    "papelera": "\f11e",
    "reloj-black": "\f11f",
    "estadisticas-1": "\f120",
    "salir": "\f121",
    "carpeta": "\f122",
    "ajuste": "\f123",
    "movil": "\f124",
    "euro": "\f125",
    "monedas": "\f126",
    "reloj": "\f127",
    "telefono": "\f128",
    "tarjeta": "\f129",
    "microfono": "\f12a",
    "foto": "\f12b",
    "rayo": "\f12c",
    "cascos": "\f12d",
    "impresora": "\f12e",
    "bookmark": "\f12f",
    "usb": "\f130",
    "maletin": "\f131",
    "descargar": "\f132",
    "flecha-hacia-atras": "\f133",
    "flecha-hacia-adelante": "\f134",
    "carrito": "\f135",
    "ubica": "\f136",
    "varita": "\f137",
    "cuadraditos": "\f138",
    "compartir": "\f139",
    "alarma": "\f13a",
    "cuadricula": "\f13b",
    "capas": "\f13c",
    "pila-de-hojas": "\f13d",
    "lista": "\f13e",
    "bandeja-de-entrada": "\f13f",
    "pagina": "\f140",
    "monitor": "\f141",
    "estructura": "\f142",
    "copiar": "\f143",
    "upload": "\f144",
    "download": "\f145",
    "nube": "\f146",
    "log-in": "\f147",
    "log-out": "\f148",
    "flecha-izquierda": "\f149",
    "seleccionar": "\f14a",
    "flecha-derecha": "\f14b",
    "flecha-descargar": "\f14c",
    "flecha-arriba": "\f14d",
    "clip-vertical": "\f14e",
    "flecha-abajo": "\f14f",
    "cuadrados-mas": "\f150",
    "lupa": "\f151",
    "limpiar": "\f152",
    "bug": "\f153",
    "casa": "\f154",
    "reloj-arena": "\f155",
    "error": "\f156",
    "informacion": "\f157",
    "pregunta": "\f158",
    "advertencia": "\f159",
    "prohibido": "\f15a",
    "correcto": "\f15b",
    "editar": "\f15c",
    "galeria": "\f15d",
    "lapiz": "\f15e",
    "megafono": "\f15f",
    "nota": "\f160",
    "chat": "\f161",
    "hablar": "\f162",
    "circulo-flecha-abajo": "\f163",
    "circulo-flecha-arriba": "\f164",
    "circulo-menos": "\f165",
    "circulo-3-puntos": "\f166",
    "circulo-estadisticas": "\f167",
    "disquete": "\f168",
    "anadir": "\f169",
    "add": "\f16a",
    "circulo-ok": "\f16b",
    "circulo-corazon": "\f16c",
    "circulo-asterisco": "\f16d",
    "circulo-estrella": "\f16e",
    "circulo-reloj-arena": "\f16f",
    "flecha-izquierda-derecha": "\f170",
    "txt-fuente": "\f171",
    "txt-orden": "\f172",
    "txt-subrayado": "\f173",
    "info": "\f174",
    "admiracion": "\f175",
    "interrogacion": "\f176",
    "mas": "\f177",
    "menos": "\f178",
    "ip": "\f179",
    "wifi": "\f17a",
    "circulo-usuario": "\f17b",
    "circulo-candado": "\f17c",
    "circulo-paquete": "\f17d",
    "paquete": "\f17e",
    "paquetes": "\f17f",
    "usuario-mas": "\f180",
    "usuario-menos": "\f181",
    "usuario-solo": "\f182",
    "femenino": "\f183",
    "masculino": "\f184",
    "circulo-admiracion": "\f185",
    "circulo-prohibido": "\f186",
    "chocar-manos": "\f187",
    "semaforo": "\f188",
    "estadisticas-2": "\f189",
    "estadisticas-3": "\f18a",
    "estadisticas-4": "\f18b",
    "grupo": "\f18c",
    "billetes": "\f18d",
    "flecha-punta-derecha": "\f18e",
    "flecha-punta-izquierda": "\f18f",
    "flecha-punta-abajo": "\f190",
    "flecha-punta-arriba": "\f191",
    "facebook": "\f192",
    "twitter": "\f193",
    "whatsapp": "\f194",
    "telegram": "\f195",
    "youtube": "\f196",
    "pinterest": "\f197",
    "linkedin": "\f198",
    "play": "\f199",
    "mundo": "\f19a",
    "embudo": "\f19b",
    "clip-horizontal": "\f19c",
    "clip": "\f19d",
    "rotar": "\f19e",
    "basura": "\f19f",
    "settings": "\f1a0",
    "herramientas": "\f1a1",
    "llave": "\f1a2",
    "arbol-familias": "\f1a3",
    "hojas": "\f1a4",
    "hoja": "\f1a5",
    "filtro": "\f1a6",
    "agregar": "\f1a7",
    "tijeras": "\f1a8",
    "visible": "\f1a9",
    "invisible": "\f1aa",
    "parametros": "\f1ab",
    "maximizar": "\f1ac",
    "minimizar": "\f1ad",
    "instagram": "\f1ae",
    "no-camara": "\f1af",
    "menu": "\f1b0",
);

.flaticon-campana:before {
    content: map-get($flaticon-map, "campana");
}
.flaticon-candado:before {
    content: map-get($flaticon-map, "candado");
}
.flaticon-usuario:before {
    content: map-get($flaticon-map, "usuario");
}
.flaticon-full-screen:before {
    content: map-get($flaticon-map, "full-screen");
}
.flaticon-sol:before {
    content: map-get($flaticon-map, "sol");
}
.flaticon-luna:before {
    content: map-get($flaticon-map, "luna");
}
.flaticon-configuracion:before {
    content: map-get($flaticon-map, "configuracion");
}
.flaticon-llave-inglesa:before {
    content: map-get($flaticon-map, "llave-inglesa");
}
.flaticon-calendario:before {
    content: map-get($flaticon-map, "calendario");
}
.flaticon-sobre:before {
    content: map-get($flaticon-map, "sobre");
}
.flaticon-cuadrados:before {
    content: map-get($flaticon-map, "cuadrados");
}
.flaticon-puntos-vertical:before {
    content: map-get($flaticon-map, "puntos-vertical");
}
.flaticon-puntos-horizontal:before {
    content: map-get($flaticon-map, "puntos-horizontal");
}
.flaticon-circulo-check:before {
    content: map-get($flaticon-map, "circulo-check");
}
.flaticon-circulo-mas:before {
    content: map-get($flaticon-map, "circulo-mas");
}
.flaticon-circulo-cerrar:before {
    content: map-get($flaticon-map, "circulo-cerrar");
}
.flaticon-circulo-interrogacion:before {
    content: map-get($flaticon-map, "circulo-interrogacion");
}
.flaticon-circulo-info:before {
    content: map-get($flaticon-map, "circulo-info");
}
.flaticon-video:before {
    content: map-get($flaticon-map, "video");
}
.flaticon-camara:before {
    content: map-get($flaticon-map, "camara");
}
.flaticon-circulo-play:before {
    content: map-get($flaticon-map, "circulo-play");
}
.flaticon-corazon:before {
    content: map-get($flaticon-map, "corazon");
}
.flaticon-estrella:before {
    content: map-get($flaticon-map, "estrella");
}
.flaticon-usuarios:before {
    content: map-get($flaticon-map, "usuarios");
}
.flaticon-refrescar:before {
    content: map-get($flaticon-map, "refrescar");
}
.flaticon-check:before {
    content: map-get($flaticon-map, "check");
}
.flaticon-link:before {
    content: map-get($flaticon-map, "link");
}
.flaticon-forbidden-mark:before {
    content: map-get($flaticon-map, "forbidden-mark");
}
.flaticon-aspa:before {
    content: map-get($flaticon-map, "aspa");
}
.flaticon-papelera:before {
    content: map-get($flaticon-map, "papelera");
}
.flaticon-reloj-black:before {
    content: map-get($flaticon-map, "reloj-black");
}
.flaticon-estadisticas-1:before {
    content: map-get($flaticon-map, "estadisticas-1");
}
.flaticon-salir:before {
    content: map-get($flaticon-map, "salir");
}
.flaticon-carpeta:before {
    content: map-get($flaticon-map, "carpeta");
}
.flaticon-ajuste:before {
    content: map-get($flaticon-map, "ajuste");
}
.flaticon-movil:before {
    content: map-get($flaticon-map, "movil");
}
.flaticon-euro:before {
    content: map-get($flaticon-map, "euro");
}
.flaticon-monedas:before {
    content: map-get($flaticon-map, "monedas");
}
.flaticon-reloj:before {
    content: map-get($flaticon-map, "reloj");
}
.flaticon-telefono:before {
    content: map-get($flaticon-map, "telefono");
}
.flaticon-tarjeta:before {
    content: map-get($flaticon-map, "tarjeta");
}
.flaticon-microfono:before {
    content: map-get($flaticon-map, "microfono");
}
.flaticon-foto:before {
    content: map-get($flaticon-map, "foto");
}
.flaticon-rayo:before {
    content: map-get($flaticon-map, "rayo");
}
.flaticon-cascos:before {
    content: map-get($flaticon-map, "cascos");
}
.flaticon-impresora:before {
    content: map-get($flaticon-map, "impresora");
}
.flaticon-bookmark:before {
    content: map-get($flaticon-map, "bookmark");
}
.flaticon-usb:before {
    content: map-get($flaticon-map, "usb");
}
.flaticon-maletin:before {
    content: map-get($flaticon-map, "maletin");
}
.flaticon-descargar:before {
    content: map-get($flaticon-map, "descargar");
}
.flaticon-flecha-hacia-atras:before {
    content: map-get($flaticon-map, "flecha-hacia-atras");
}
.flaticon-flecha-hacia-adelante:before {
    content: map-get($flaticon-map, "flecha-hacia-adelante");
}
.flaticon-carrito:before {
    content: map-get($flaticon-map, "carrito");
}
.flaticon-ubica:before {
    content: map-get($flaticon-map, "ubica");
}
.flaticon-varita:before {
    content: map-get($flaticon-map, "varita");
}
.flaticon-cuadraditos:before {
    content: map-get($flaticon-map, "cuadraditos");
}
.flaticon-compartir:before {
    content: map-get($flaticon-map, "compartir");
}
.flaticon-alarma:before {
    content: map-get($flaticon-map, "alarma");
}
.flaticon-cuadricula:before {
    content: map-get($flaticon-map, "cuadricula");
}
.flaticon-capas:before {
    content: map-get($flaticon-map, "capas");
}
.flaticon-pila-de-hojas:before {
    content: map-get($flaticon-map, "pila-de-hojas");
}
.flaticon-lista:before {
    content: map-get($flaticon-map, "lista");
}
.flaticon-bandeja-de-entrada:before {
    content: map-get($flaticon-map, "bandeja-de-entrada");
}
.flaticon-pagina:before {
    content: map-get($flaticon-map, "pagina");
}
.flaticon-monitor:before {
    content: map-get($flaticon-map, "monitor");
}
.flaticon-estructura:before {
    content: map-get($flaticon-map, "estructura");
}
.flaticon-copiar:before {
    content: map-get($flaticon-map, "copiar");
}
.flaticon-upload:before {
    content: map-get($flaticon-map, "upload");
}
.flaticon-download:before {
    content: map-get($flaticon-map, "download");
}
.flaticon-nube:before {
    content: map-get($flaticon-map, "nube");
}
.flaticon-log-in:before {
    content: map-get($flaticon-map, "log-in");
}
.flaticon-log-out:before {
    content: map-get($flaticon-map, "log-out");
}
.flaticon-flecha-izquierda:before {
    content: map-get($flaticon-map, "flecha-izquierda");
}
.flaticon-seleccionar:before {
    content: map-get($flaticon-map, "seleccionar");
}
.flaticon-flecha-derecha:before {
    content: map-get($flaticon-map, "flecha-derecha");
}
.flaticon-flecha-descargar:before {
    content: map-get($flaticon-map, "flecha-descargar");
}
.flaticon-flecha-arriba:before {
    content: map-get($flaticon-map, "flecha-arriba");
}
.flaticon-clip-vertical:before {
    content: map-get($flaticon-map, "clip-vertical");
}
.flaticon-flecha-abajo:before {
    content: map-get($flaticon-map, "flecha-abajo");
}
.flaticon-cuadrados-mas:before {
    content: map-get($flaticon-map, "cuadrados-mas");
}
.flaticon-lupa:before {
    content: map-get($flaticon-map, "lupa");
}
.flaticon-limpiar:before {
    content: map-get($flaticon-map, "limpiar");
}
.flaticon-bug:before {
    content: map-get($flaticon-map, "bug");
}
.flaticon-casa:before {
    content: map-get($flaticon-map, "casa");
}
.flaticon-reloj-arena:before {
    content: map-get($flaticon-map, "reloj-arena");
}
.flaticon-error:before {
    content: map-get($flaticon-map, "error");
}
.flaticon-informacion:before {
    content: map-get($flaticon-map, "informacion");
}
.flaticon-pregunta:before {
    content: map-get($flaticon-map, "pregunta");
}
.flaticon-advertencia:before {
    content: map-get($flaticon-map, "advertencia");
}
.flaticon-prohibido:before {
    content: map-get($flaticon-map, "prohibido");
}
.flaticon-correcto:before {
    content: map-get($flaticon-map, "correcto");
}
.flaticon-editar:before {
    content: map-get($flaticon-map, "editar");
}
.flaticon-galeria:before {
    content: map-get($flaticon-map, "galeria");
}
.flaticon-lapiz:before {
    content: map-get($flaticon-map, "lapiz");
}
.flaticon-megafono:before {
    content: map-get($flaticon-map, "megafono");
}
.flaticon-nota:before {
    content: map-get($flaticon-map, "nota");
}
.flaticon-chat:before {
    content: map-get($flaticon-map, "chat");
}
.flaticon-hablar:before {
    content: map-get($flaticon-map, "hablar");
}
.flaticon-circulo-flecha-abajo:before {
    content: map-get($flaticon-map, "circulo-flecha-abajo");
}
.flaticon-circulo-flecha-arriba:before {
    content: map-get($flaticon-map, "circulo-flecha-arriba");
}
.flaticon-circulo-menos:before {
    content: map-get($flaticon-map, "circulo-menos");
}
.flaticon-circulo-3-puntos:before {
    content: map-get($flaticon-map, "circulo-3-puntos");
}
.flaticon-circulo-estadisticas:before {
    content: map-get($flaticon-map, "circulo-estadisticas");
}
.flaticon-disquete:before {
    content: map-get($flaticon-map, "disquete");
}
.flaticon-anadir:before {
    content: map-get($flaticon-map, "anadir");
}
.flaticon-add:before {
    content: map-get($flaticon-map, "add");
}
.flaticon-circulo-ok:before {
    content: map-get($flaticon-map, "circulo-ok");
}
.flaticon-circulo-corazon:before {
    content: map-get($flaticon-map, "circulo-corazon");
}
.flaticon-circulo-asterisco:before {
    content: map-get($flaticon-map, "circulo-asterisco");
}
.flaticon-circulo-estrella:before {
    content: map-get($flaticon-map, "circulo-estrella");
}
.flaticon-circulo-reloj-arena:before {
    content: map-get($flaticon-map, "circulo-reloj-arena");
}
.flaticon-flecha-izquierda-derecha:before {
    content: map-get($flaticon-map, "flecha-izquierda-derecha");
}
.flaticon-txt-fuente:before {
    content: map-get($flaticon-map, "txt-fuente");
}
.flaticon-txt-orden:before {
    content: map-get($flaticon-map, "txt-orden");
}
.flaticon-txt-subrayado:before {
    content: map-get($flaticon-map, "txt-subrayado");
}
.flaticon-info:before {
    content: map-get($flaticon-map, "info");
}
.flaticon-admiracion:before {
    content: map-get($flaticon-map, "admiracion");
}
.flaticon-interrogacion:before {
    content: map-get($flaticon-map, "interrogacion");
}
.flaticon-mas:before {
    content: map-get($flaticon-map, "mas");
}
.flaticon-menos:before {
    content: map-get($flaticon-map, "menos");
}
.flaticon-ip:before {
    content: map-get($flaticon-map, "ip");
}
.flaticon-wifi:before {
    content: map-get($flaticon-map, "wifi");
}
.flaticon-circulo-usuario:before {
    content: map-get($flaticon-map, "circulo-usuario");
}
.flaticon-circulo-candado:before {
    content: map-get($flaticon-map, "circulo-candado");
}
.flaticon-circulo-paquete:before {
    content: map-get($flaticon-map, "circulo-paquete");
}
.flaticon-paquete:before {
    content: map-get($flaticon-map, "paquete");
}
.flaticon-paquetes:before {
    content: map-get($flaticon-map, "paquetes");
}
.flaticon-usuario-mas:before {
    content: map-get($flaticon-map, "usuario-mas");
}
.flaticon-usuario-menos:before {
    content: map-get($flaticon-map, "usuario-menos");
}
.flaticon-usuario-solo:before {
    content: map-get($flaticon-map, "usuario-solo");
}
.flaticon-femenino:before {
    content: map-get($flaticon-map, "femenino");
}
.flaticon-masculino:before {
    content: map-get($flaticon-map, "masculino");
}
.flaticon-circulo-admiracion:before {
    content: map-get($flaticon-map, "circulo-admiracion");
}
.flaticon-circulo-prohibido:before {
    content: map-get($flaticon-map, "circulo-prohibido");
}
.flaticon-chocar-manos:before {
    content: map-get($flaticon-map, "chocar-manos");
}
.flaticon-semaforo:before {
    content: map-get($flaticon-map, "semaforo");
}
.flaticon-estadisticas-2:before {
    content: map-get($flaticon-map, "estadisticas-2");
}
.flaticon-estadisticas-3:before {
    content: map-get($flaticon-map, "estadisticas-3");
}
.flaticon-estadisticas-4:before {
    content: map-get($flaticon-map, "estadisticas-4");
}
.flaticon-grupo:before {
    content: map-get($flaticon-map, "grupo");
}
.flaticon-billetes:before {
    content: map-get($flaticon-map, "billetes");
}
.flaticon-flecha-punta-derecha:before {
    content: map-get($flaticon-map, "flecha-punta-derecha");
}
.flaticon-flecha-punta-izquierda:before {
    content: map-get($flaticon-map, "flecha-punta-izquierda");
}
.flaticon-flecha-punta-abajo:before {
    content: map-get($flaticon-map, "flecha-punta-abajo");
}
.flaticon-flecha-punta-arriba:before {
    content: map-get($flaticon-map, "flecha-punta-arriba");
}
.flaticon-facebook:before {
    content: map-get($flaticon-map, "facebook");
}
.flaticon-twitter:before {
    content: map-get($flaticon-map, "twitter");
}
.flaticon-whatsapp:before {
    content: map-get($flaticon-map, "whatsapp");
}
.flaticon-telegram:before {
    content: map-get($flaticon-map, "telegram");
}
.flaticon-youtube:before {
    content: map-get($flaticon-map, "youtube");
}
.flaticon-pinterest:before {
    content: map-get($flaticon-map, "pinterest");
}
.flaticon-linkedin:before {
    content: map-get($flaticon-map, "linkedin");
}
.flaticon-play:before {
    content: map-get($flaticon-map, "play");
}
.flaticon-mundo:before {
    content: map-get($flaticon-map, "mundo");
}
.flaticon-embudo:before {
    content: map-get($flaticon-map, "embudo");
}
.flaticon-clip-horizontal:before {
    content: map-get($flaticon-map, "clip-horizontal");
}
.flaticon-clip:before {
    content: map-get($flaticon-map, "clip");
}
.flaticon-rotar:before {
    content: map-get($flaticon-map, "rotar");
}
.flaticon-basura:before {
    content: map-get($flaticon-map, "basura");
}
.flaticon-settings:before {
    content: map-get($flaticon-map, "settings");
}
.flaticon-herramientas:before {
    content: map-get($flaticon-map, "herramientas");
}
.flaticon-llave:before {
    content: map-get($flaticon-map, "llave");
}
.flaticon-arbol-familias:before {
    content: map-get($flaticon-map, "arbol-familias");
}
.flaticon-hojas:before {
    content: map-get($flaticon-map, "hojas");
}
.flaticon-hoja:before {
    content: map-get($flaticon-map, "hoja");
}
.flaticon-filtro:before {
    content: map-get($flaticon-map, "filtro");
}
.flaticon-agregar:before {
    content: map-get($flaticon-map, "agregar");
}
.flaticon-tijeras:before {
    content: map-get($flaticon-map, "tijeras");
}
.flaticon-visible:before {
    content: map-get($flaticon-map, "visible");
}
.flaticon-invisible:before {
    content: map-get($flaticon-map, "invisible");
}
.flaticon-parametros:before {
    content: map-get($flaticon-map, "parametros");
}
.flaticon-maximizar:before {
    content: map-get($flaticon-map, "maximizar");
}
.flaticon-minimizar:before {
    content: map-get($flaticon-map, "minimizar");
}
.flaticon-instagram:before {
    content: map-get($flaticon-map, "instagram");
}
.flaticon-no-camara:before {
    content: map-get($flaticon-map, "no-camara");
}
.flaticon-menu:before {
    content: map-get($flaticon-map, "menu");
}
