vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|26 Sep 2022 17:01:16 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|slider.htm acordeon.htm
vti_author:SR|NEO\\neo
vti_modifiedby:SR|NEO\\neo
vti_timecreated:TR|07 Jun 2021 10:17:37 -0000
vti_cacheddtm:TX|26 Sep 2022 17:01:16 -0000
vti_filesize:IR|8915
vti_cachedlinkinfo:VX|S|nav-icon.png S|nav-icon.png S|left-arrow.svg S|right-arrow.svg
vti_cachedsvcrellinks:VX|FSUS|css/nav-icon.png FSUS|css/nav-icon.png FSUS|css/left-arrow.svg FSUS|css/right-arrow.svg
