vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|22 Jul 2022 08:21:42 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|NEO\\neo
vti_modifiedby:SR|NEO\\neo
vti_timecreated:TR|22 Jul 2022 08:21:42 -0000
vti_cacheddtm:TX|22 Jul 2022 08:21:42 -0000
vti_filesize:IR|10915
vti_cachedlinkinfo:VX|S|./flaticon.ttf S|./flaticon.woff S|./flaticon.woff2 S|./flaticon.eot S|./flaticon.svg
vti_cachedsvcrellinks:VX|FSUS|fonts/flaticon.ttf FSUS|fonts/flaticon.woff FSUS|fonts/flaticon.woff2 FSUS|fonts/flaticon.eot FSUS|fonts/flaticon.svg
vti_backlinkinfo:VX|tienda-detalle.htm tienda-checkout.htm email.htm listado3.htm tienda-checkout3.htm tienda-checkout4.htm tienda-checkout2.htm fonts/flaticon.html tienda-carro.htm seo_antes.htm
